/********************************
-------- FOR ALL QUERIES --------
*********************************/

/***********************
-------- COMMON --------
************************/

img {
  max-height: 200px;
}

#lezioni,
#steps,
#why {
  text-align: center;
}

/***********************
------- LEZIONI --------
************************/

#lezioni{
  margin-bottom: 50px;
}

#lezioni .title{
  margin-bottom: 30px;
}

#lezioni .row .left,
#lezioni .row .right {
  float: left;

  padding: 0 20px;
}


/***********************
-------- STEPS ---------
************************/

#steps {
  margin-bottom: 50px;
}

#steps img {
  height: 200px;
}

#steps .title{
  margin-bottom: 30px;
}

#steps h3{
  margin-top: 30px;
  margin-bottom: 10px;
}

#steps .row .left,
#steps .row .central,
#steps .row .right {
  padding: 0 30px;
}

/********************
-------- WHY --------
********************/

#why .row img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

/**********************************
------- LG DESKTOP VERSION --------
**********************************/

@media screen and (min-width: 992px){

  /***********************
  -------- COMMON --------
  ************************/


  /***********************
  ------- LEZIONI --------
  ************************/


  /***********************
  -------- STEPS ---------
  ************************/


  /********************
  -------- WHY --------
  ********************/

}


/**********************************
-------- MD TALBET VERSION --------
**********************************/

@media screen and (min-width: 768px) and (max-width: 991px) {
  /***********************
  -------- COMMON --------
  ************************/


  /***********************
  ------- LEZIONI --------
  ************************/


  /***********************
  -------- STEPS ---------
  ************************/

  #steps .row .left,
  #steps .row .central,
  #steps .row .right {
    margin-bottom: 50px;
  }

  /********************
  -------- WHY --------
  ********************/
}

/**************************************
-------- XS SMARTPHONE VERSION --------
**************************************/

@media screen and (max-width: 767px) {
  /***********************
  -------- COMMON --------
  ************************/


  /***********************
  ------- LEZIONI --------
  ************************/

  #lezioni .row .left {
    margin-bottom: 30px;
  }

  /***********************
  -------- STEPS ---------
  ************************/


  /********************
  -------- WHY --------
  ********************/
}
